// Colour palette
$ontario-colour-black: #1A1A1A;
$ontario-colour-white: #FFFFFF;
$ontario-colour-alert: #CD0000;
$ontario-colour-alert-light: #FCEFF0;
$ontario-colour-success: #118847;
$ontario-colour-success-light: #E5f0E9;
$ontario-colour-warning: #FFD440;
$ontario-colour-warning-light: #FEF6DC;
$ontario-colour-information: #1080A6;
$ontario-colour-information-light: #E2F0F4;
$ontario-colour-link: #0066CC;
$ontario-colour-link-hover: #00478F;
$ontario-colour-link-active: #002142;
$ontario-colour-link-visited: #551A8B;
$ontario-colour-secondary-hover: #E0F0FF;
$ontario-colour-secondary-active: #C2E0FF;
$ontario-colour-tertiary-hover: #E8E8E8;
$ontario-colour-tertiary-active: #D1D1D1;
$ontario-colour-focus: #009ADB;


